extends layout

block content 
  if user
    h1 Welcome Back #{user.username}
  else
    h1 #{title}
  hr
  if messages.length > 0
    ul 
      each message in messages 
        li 
          p #{message.title}
          p #{message.text}
          p #{message.timestamp}
          if user 
            p By: #{message.user.username}
          else 
            p By: Anonymous
  if user 
    p
      a(href="/new-message") Post a Message!
    p
      a(href="/log-out") Log out
  else
    p 
      a(href="/sign-up") Sign up 
    p 
      a(href="/log-in") Log in
