extends layout

block content 
  if user
    h1 Welcome Back #{user.username}
  else
    h1 #{title}
  hr
  if messages.length > 0
    ul 
      each message in messages 
        li 
          p Title:#{message.title}
          p #{message.text}
          p #{message.timestamp}
          if user 
            p By: #{message.user.username}
          else 
            p By: Anonymous
          if (user && user.username === message.user.username && user.status === 'member') || (user && user.status === 'admin')
            a(href=message.id+'/delete') Delete Item 
  if user 
    p
      a(href="/new-message") Post a Message!
    if user.status === 'user'
      p 
        a(href="/become-member") Become a Member
    else if user.status === 'member'
      p 
        a(href="/become-admin") Become Admin
    p
      a(href="/log-out") Log out
  else
    p 
      a(href="/sign-up") Sign up 
    p 
      a(href="/log-in") Log in
